@charset "UTF-8";

ul {
	list-style : none;
}
a {
	color : #9C93B5;
	text-decoration : none;
}
li {
	height : 20px;
	line-height : 20px;
}
h3 {
	height : 20px;
	line-height : 20px;
}

div {
	display : block;
}

table {
	width : 100%;
}

/* 템플릿 */
#template {
	margin : 0 auto;
	padding-left : 5px;
	padding-right : 5px;
	position : relative;
	width : 1360px;	
}

#header {
	margin-top : 40px;
	text-align : right;
	text-transform : uppercase;
	height : 50px;
}

#wrap {
	position: relative;
    width: 100%;
    margin: 0px 0 0;
}

#wleft {
	float : left;
	width : 300px;
}

#container {
	float: right;
    width: 1050px;
    margin: 0px 0 0px;
    padding: 0px 0 0;
}

#footer {
	overflow: hidden;
    position: relative;
    text-transform: uppercase;
    clear: both;
    width: 100%;
    margin: 0 0 70px;
    padding: 0;
    text-align: right;
    line-height: 180%;
    font-size: 10px;
}

#autoplay1 img, #autoplay2 img {
		width: 338px;
    	height : 450px;
}
	
/*탑 메뉴*/
.top {
}

.top>ul {
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.top>ul>li {
	display : inline-block;
	margin-left : 20px;
	/* position : relative; */
}

.top>ul>li>a {
	text-align : center;
	color : #9C93B5;
}

.top ul li a:hover {
	color : #E8D4D3;
}


/*블랭크*/
.blank {
	height : 231px;
}

#contents {
	width: 100%;
    padding: 0px 0 0;
    margin: 0px 0 0;
}

/* 사이드바_사진 */
.main_photo {
	margin : 0 0 40px;
}

/* 사이드바 _ 카테고리 */
.wleft {
	margin : 0 0 0 10px;
}

.main_title {
	font-size : 14px;
	letter-spacing : 2px;
	margin : 0 0 30px;
	color : #5B6C93;
}

.category_clothes, .category_board, .category_call {
	margin : 0 0 30px;
	line-height : 170%;
}

.category_clothes a:hover .category_board a:hover {
	color : #E8D4D3;
}


/* 푸터 */
#down {
	margin : 110px 0px 0;
}


/* 상품 목록 */
.product_list {
	clear: both;
    /* overflow: hidden; */
    margin: 0px 0 80px 0;
}

.product_list h2 {
	text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0 0 20px 2px;
}

.prdList {
	width : 100%;
	transform: translate3d(0px, 0px, 0px);
	float : left;
	display: table;
    position: relative;
    display: block;
    margin: 0 auto;
    
}

.prdList>div {
	width : 33%;
	display: inline-block;
	vertical-align: top;
	position : relative;
}

.thumbnail {
	float : left;
	position: relative;
    margin: 0 0px 10px;
    text-align: center;
    cursor : pointer;
}

.thumbnail a {
	outline: none;
}

.thumbnail>a>img {
	width: 338px;
    height : 450px;
}

.description {
	margin: 0;
    padding: 0 2px;
    font-size: 11px;
    line-height: 150%;
    text-align: center;
}

.description2 {
	margin-top : 10px;
	padding: 0 2px;
    font-size: 11px;
    line-height: 150%;
    text-align: center;
}

/* 상품 상세 페이지 */

[id*='rev_content'] {display:none;}


#product_detail {
	clear : both;
	position: relative;
    margin: 0 auto;
    padding: 0px 0 90px;
}

.detailArea {
	
}
.img_Area {
	float: left;
    width: 580px;
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.info_Area {
	float: left;
    width: 450px;
    margin: -6px 0px 0;
    line-height: 160%;
}

.info_Area>table {
	border: 0;
    font-size: 11px;
    margin: 0px 0 0;
}

.info_Area td {
	padding: 7px 6px 8px 0;
    vertical-align: middle;
}

.info_table tr, th {
	padding: 7px 0 7px 0px;
    vertical-align: top;
}
.info_table tr, #totalPrice tr{
	width: 90px;
	text-align : left;
}
.info_table th{
	padding-top: 40px;
}

.info_table td{
	padding-top: 30px;
	vertical-align : bottom;
}

.info_table td select {
	font-size : 10px;
	padding: 5px 7px;
    height: 27px;
    margin: 0px 0 0;
}

#optionProduct td{
	border-top: 1px solid #eee;
	padding: 9px 0;
    font-size: 10px;
    border-bottom: 1px solid #eee;
    line-height: 18px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}

[id^=qnt_] {
	width: 35px;
}

.right {
	padding-right: 0px;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
}
.product {
	padding: 0 10px 0 0;
    font-weight: normal;
    line-height: 21px;
}

#totalPrice {
	margin: 20px 0 0;
}

#totalPrice td {
	padding: 20px 0px 10px;
    font-size: 12px;
    vertical-align: middle;
}


#pageList {
	display: block;
	width : 100%;
	clear:both;
	float:left;
	margin: 30px 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
    font-family: verdana;
}

#pageList ol {
	display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
	width : 100%;
}

#pageList li {
	display: inline-block;
    margin: 0 3px 0 -1px;
    font-size: 11px;
    color: #757575;
    vertical-align: top;
}

#btnArea {
	width: 100%;
    padding: 25px 0 0px;
}

#btnArea li {
	float: left;
    margin: 0 7px 5px 0;
    width: 145px;
    height : 42px;
}
#btnArea li a {
	display: inline-block;
    width: 100%;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}
.btn_w {
	background: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
}

.btn_b {
	background: #000;
	border: 1px solid #222;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
}



#prdContent {
	clear: both;
	width : 100%;
}


.cont {
	padding: 0px 0px 90px 0px;
    text-align: center;
    line-height: 190%;
    font-size: 12px;
}

/* 서브 카테고리 */
.sub_category {
	margin : 0 0 20px;
}

.sub_category>ul {
	text-align : center;
	heigth : 36px;
	padding : 0;
}

.sub_category>ul>li {
	display : inline-block;
	width : 70px;
	position : relative;
}

.sub_category>ul>li>a {
	display : block;
	width : 100%;
	height : 100%;
	text-align : center;
}

.sub_category ul li a:hover {
	color : #E8D4D3;
}


/* 진열 순서 */
.pro_display_seq {
	margin : 0 0 20px;
}

.pro_display_seq>ul {
	text-align : right;
	heigth : 36px;
	padding : 0;
}

.pro_display_seq>ul>li {
	display : inline-block;
	width : 60px;
	position : relative;
}

.pro_display_seq>ul>li>a {
	display : block;
	text-align : center;
}

.pro_display_seq ul li a:hover {
	color : #E8D4D3;
}





/* 로그인폼 */
.login {
	margin: 0 0 0px 0;
    padding: 60px 0 20px;
}

.login fieldset {
	position: relative;
    width: 300px;
    margin: 0 auto;
}

.nna {
	text-align : left;
	text-transform: uppercase;
    font-family: arial,Arimo,dotum;
    letter-spacing: 1px;
    font-size: 9px;
    height: 20px;
}

.id, .pass {
	overflow: hidden;
    display: block;
    width: 300px;
    margin: 0 0 20px;
    border: 0;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.id input, .pass input {
	width: 95%;
    height: 26px;
    line-height: 26px;
    padding: 0px 3px;
    border: 0 none;
}

.idsave {
	text-align : left;
	padding: 0 0 0 0px;
    margin: 10px 0 30px;
    font-size: 9px;
    text-transform: uppercase;
}

.btx {
	margin: 0 0 30px;
}

.btx a {
	display: inline-block;
    padding: 0px;
    width: 100%;
    height: 42px;
    border-radius: 2px;
    line-height: 42px;
    margin: 0 0px 5px 0;
    text-align: center;
}

.login_btn {
    background: #000;
    border: 1px solid #222;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.join_btn {
	background: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
    height: 32px;
    line-height: 32px;
}

.forget {
	overflow: hidden;
    padding: 20px 0 0;
    margin: 0 0 30px;
    border: 0;
    border-top: 1px solid #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 20px;
}


/* 회원가입 폼 */
#join_form {
	width : ;
	margin : 0 auto;
}

.join_title {
	padding: 50px 0 0px;
    font-size: 12px;
    color: #777;
}

.join_table table {
	position: relative;
    margin: 10px 0 0;
    border: 1px solid #d7d5d5;
    border-top-color: #fff;
    line-height: 1.5;
    width: 100%;
}

.join_table tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    
}

.join_table tr {
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.join_table th {
	width: 100px;
	padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    border-right-width: 0;
    text-align: left;
    font-weight: normal;
    background-color: #fff;
    vertical-align: top;
}

.join_table td {
	padding: 8px 10px 7px;
	border-top: 1px solid #dfdfdf;
    vertical-align: middle;
}

#addr1, #addr2 {
	width: 280px;
    margin: 5px 0 0;
}

#birth1 {
	width : 60px;
	margin: 0 4px 0 0;
}

#birth2, #birth3 {
	width: 30px;
    margin: 0 4px 0 0;
}
.req {
	color : red;	
}

.agree_Area {
	border-width: 1px;
    border-color: #d7d5d5;
    background-color: #fff;
    margin: 40px 0 -41px;
    line-height: 20px;
    
    padding: 20px;
    border: 1px solid #e8e8e8;
    color: #404040;
}
.join_table input {
	border : 1px solid #ddd;
}
.terms {
	overflow: auto;
    height: 100px;
    padding: 15px 10px;
    border: 0px solid #e6e6e6;
    background: #fff;
}

.check {
	padding: 30px 0 0 10px;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}

.jo_btn{
	width: 300px;
    padding: 70px 0 0;
    float: right;
    display: block;
    text-align : center;
}

.jo_btn a {
	font-size: 10px;
    letter-spacing: 1px;
    height: 32px;
    line-height: 32px;
    
    display: inline-block;
    margin: 0px 0 0 0px;
    padding: 0px;
    width: 100%;
    border-radius: 2px;
    background: #000;
    border: 1px solid #222;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/* 장바구니 */

.cartTable {
    vertical-align: middle;
    position: relatice;
    width: 100%;
    text-align : center;
}
.cartTable tr {
	width : 100%;
}
.cartTable th{
	padding: 11px 0 9px;
}

.cartTable td {
	padding: 8px 10px 7px;
	border-top: 1px solid #dfdfdf;
    vertical-align: middle;
}


.cartImage {
	width: 80px;
	vertical-align: middle;
}
.left {
	padding-left : 10px;
	text-align : left;
}

.cart_option {
	margin: 0;
    padding: 0;
}
.cart_option li{
	margin: 9px 0 0;
    color: #707070;
    line-height: 16px;
}

.qnt_area {
	position: relative;
    display: inline-block;
    width: 50px;
    margin: 0 1px 0 0;
    text-align: left;
}

.qnt_area>input {
	width: 35px;
    height: 23px;
    padding: 0 0 0 5px;
    line-height: 25px;
    border: 1px solid #d4d8d9;
    border-radius: 3px 0 0 3px;
}
    
#up>ion-icon {
	position: absolute;
    left: 27px;
    top: 0;
}

#down>ion-icon {
	position: absolute;
    left: 27px;
    bottom: 0;
}

.small_btn {
	display: inline-block;
    margin: 0px 0 0 0px;
    padding: 0 10px 0 11px;
    height: 20px;
    border-radius: 0px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
}

.button_area {
	margin: 0 0 40px;
}

.total table {
	position: relative;
    margin: 10px 0 0;
}

.total th {
	border: 1px solid #ddd;
	height: 28px;
    line-height: 28px;
    font-size: 12px;
    text-transform: uppercase;
    background: #fff;
}

.total td {
	text-align : center;
	border: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
    font-size: 12px;
}

.order_button_area {
	overflow: hidden;
    margin: 20px 0 50px;
    text-align: right;
    font-size: 1%;
    line-height: 1%;
}

.order_button_area a{
	display: inline-block;
    margin: 0px 0 0 0px;
    padding: 0 50px 0 51px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    background: #000;
    border: 1px solid #222;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
}
.order_button_area>p>.w{
	background: #fff;
    border: 1px solid #ddd;
    color: #000;
}

/*게시판*/
.board {
	padding: 30px 0 50px;
    line-height: 18px;
}

.board h3 {
	padding: 0 0px 15px 0px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: arial,Arimo;
}

.board_table {
	margin: 15px 0 0;
    line-height: 140%;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.board_table th {
	padding: 14px 0 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: arial,Arimo;
    text-transform: uppercase;
    font-size: 10px;
}

.board_table td {
	padding: 6px 3px 5px;
    height: 32px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    vertical-align: middle;
}

/* 리뷰게시판 리스트 */

.rev_thumb {
	width : 50px;
}

/* 리뷰게시판 글 등록 폼 */

.prd_info {
	overflow: hidden;
    margin: 0 0 20px;
    padding: 15px 20px;
    border: 1px solid #e8e8e8;
}

.prdThumb {
	float: left;
}

.prdThumb img {
	width: 110px;
    border: 1px solid #d5d5d5;
}

.prd_name {
	float: left;
    width: 620px;
    padding: 0 0 0 20px;
}

.prd_name h3 {
	margin: 10px 0 5px;
    font-size: 11px;
    font-weight: normal;
}

.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{background-position:0 0;}


/* 리뷰게시판 글 상세보기 */
.editor>th {
	padding: 50px 18px 50px 18px;
	text-align : left;
	font-size : 12px;
}

/* 게시판 수정폼 */
#file_add {
	display : none;
}

.prd_review_content {
	border: 0px solid #dfdfdf;
}

/* 마이페이지 */
.mypage_top {
	width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    padding-bottom: 10px;
    margin-top: 30px;
}

.mypage_top h2 {
	display: block;
    font-size: 11px;
    letter-spacing: 1pt;
    padding: 20px 0;
    font-weight: 500;
}

.user_info {
	width: 98%;
    margin: 0 auto;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
    color: #888;
}

.user_info2 {
	width: 100%;
    text-align: center;
    padding: 10px 0;
}

.user_info2 li{
	display: inline-block;
	margin: 0 20px;
}

strong {
	font-weight: bold;
}

.mypage_wrap {
	width: 80%;
    padding: 30px 0;
    margin: 0 auto;
}

.mypage_inner {
	display: block;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
}

.mypage_inner li {
	height : 100px;
	display: block;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #ccc;
}

.mypage_inner li h1 a {
    font-size: 14px;
    line-height: 20px;
    color: #9C93B5;
    text-transform: uppercase;
    text-align: left;
}

.mypage_inner li a {
    display: block;
    font-size: 12px;
    color: #C6AFC6;
    padding: 5px 0;
}

/* QnA 게시판 리스트 */
#prdQnA {
	float : left;
	width : 100%;
}

/* 게시판 답글 */
.comment_top_right {
	position: absolute;
    top: 7px;
    right: 20px;
    color: #777;
}

.comment_table>table {
	position: relative;
    margin: 10px 0 0;
    
    border-top-color: #fff;
    line-height: 1.5;
    width: 100%;
}

.comment_table>table>tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-top: 1px solid #d7d5d5;
}

.comment_table>table>tbody>tr {
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.comment_table>table>tbody>tr>th {
	width: 100px;
	padding: 11px 0 10px 18px;
    border: 0px solid #dfdfdf;
    border-bottom-width: 0;
    border-right-width: 0;
    text-align: left;
    font-weight: normal;
    background-color: #fff;
    vertical-align: top;
}

.comment_table>table>tbody>tr>td {
	padding: 8px 10px 7px;
	border-top: 0px solid #dfdfdf;
    vertical-align: middle;
}


/* 주문 내역 페이지*/
#OrderHistoryForm fieldset {
	margin: 20px auto;
    padding: 23px 20px;
    border: 2px solid #e8e8e8;
    text-align: center;
}

.fText {
	width: 72px;
    height: 22px;
    margin: 0 0 0 2px;
    padding: 0 6px;
    border: 1px solid #d5d5d5;
    line-height: 22px;
    font-family: verdana,sans-serif;
    font-size: 11px;
}
